<ul class = "slider">
	<li><%= link_to image_tag "carousel_1.jpg", class: "carousel" %></li>
	<li><%= link_to image_tag "carousel_2.jpg", class: "carousel" %></li>
	<li><%= link_to image_tag "carousel_3.jpg", class: "carousel" %></li>
	<li><%= link_to image_tag "carousel_4.jpg", class: "carousel" %></li>
</ul>
<h4>Our Moto</h4>

<h2>Our Story</h2>
	<p class = "body_of_story">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum velit eu purus dictum, vitae fringilla quam congue. Duis commodo ut ipsum in interdum. Proin ut massa sit amet odio mollis egestas. Cras malesuada, orci vel gravida ultricies, erat mi convallis urna, adipiscing convallis odio orci sed purus. Nunc quis auctor nisi, eu iaculis nulla. Quisque vestibulum tincidunt nibh a tincidunt. Donec laoreet dignissim dolor et pulvinar. Fusce accumsan eget metus vitae rhoncus. Pellentesque nec dictum erat. Suspendisse potenti. Vestibulum vel quam eu odio tempus ullamcorper eu ut eros. Maecenas nulla massa, sagittis ut molestie sit amet, tempus sit amet arcu. Etiam et posuere eros, in fermentum purus. Sed ornare metus a arcu sagittis aliquet quis at lacus. Phasellus libero dui, posuere eget nulla a, egestas dapibus augue. Aenean dictum dolor massa, eu tempor est porttitor in.
	</p>