<h2 id="page_title"><%= "Our Philosophy" %></h2> <br><br>

<p id="philosophy_text"><%= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio." %></p> <br><br>

<div class="pic" id="pizza_pic"> 
	<div class="text" id="pizza_text"> 
		I love eating pizza YUMMY!!!!!!
	</div> 
</div>

<div class="pic" id="pasta_pic"> 
	<div class="text" id="pasta_text"> 
		WOW BEST PASTA EVER HOLY COW
	</div> 
</div>

