#map {
	margin: auto;
	margin-top: 50px;
}
#address {
	margin-top: 130px;
}
.fbpic:hover {
	opacity: 0.7;
}
.twitpic:hover {
	opacity: 0.7;
}

#address, #phone {
	padding-left: 30px;
	font-size: 20px;
	font-style: thin; 
	font-family: 'Roboto Slab', sans-serif;
}

.fbpic {
	padding-left: 30px;
}