#page_title {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#philosophy_text {
	text-align: center;
	font-family: 'Roboto Slab', sans-serif;
}

.pic {
	background-repeat: no-repeat; 
	background-size: cover;
}

#pizza_pic { 
	background-image: url('pizza.jpg');
} 

#pasta_pic {
	background-image: url('pasta.jpg');
}

#shrimp_pic {
	background-image: url('shrimp.jpeg')
}

.text { 
	height: 250px;
	background: #FFF; 
	opacity: 0; 
} 

.pic:hover .text { 
	opacity: .8;
	background-color: white;
	color: black; 
	font-size: 18px; 
	font-weight: 500;
	font-family: 'Roboto Slab', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


